# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\Nicolas\IdeaProjects\Pizzeria\.idea/dataSources/
/dataSources.local.xml
/ticket.txt
# Editor-based HTTP Client requests
/httpRequests/
